        <footer class="whiteBG">
            <div class="w-1400 margin">
                <div class="footer-link"> <a href="/privacy-and-cookies">Privacy and Cookies</a></div>
                <div id="footer-socialMedia">
                       
                        <a aria-label="cgbookcase.com on Twitter" target="_blank" href="https://twitter.com/dorianzgraggen"><img alt="" src="/media/brand/social_media/twitter.svg"></a>
                        <a aria-label="cgbookcase.com on Instagram" target="_blank" href="https://www.instagram.com/dorianzgraggen"><img alt="" src="/media/brand/social_media/instagram.svg"></a>
                        <a aria-label="cgbookcase.com on Youtube" target="_blank" href="https://www.youtube.com/dorianzg"><img alt="" src="/media/brand/social_media/youtube.svg"></a>
                </div>
                <div class="footer-link"><a href="/license-information">License Information</a></div>
            </div>
        </footer>

        <!-- message in console -->
        <script>
            console.log("%c ❤️", "font-size: x-large");
        </script>
    </body>
</html>
