        <footer class="whiteBG">
            <div class="w-1400 margin">
                <div class="footer-link"> <a href="/privacy-and-cookies">Privacy and Cookies</a></div>
                <div id="footer-socialMedia">
                       
                        <a aria-label="cgbookcase.com on Twitter" target="_blank" href="https://twitter.com/cgbookcase"><img alt="" src="https://cdn2.cgbookcase.cloud/media/design/social_media/twitter2.svg"></a>
                        <a aria-label="cgbookcase.com on Instagram" target="_blank" href="https://www.instagram.com/cgbookcase"><img alt="" src="https://cdn2.cgbookcase.cloud/media/design/social_media/instagram2.svg"></a>
                        <a aria-label="cgbookcase.com on Youtube" target="_blank" href="https://www.youtube.com/channel/UC7VfyhAatTEuMYv7CTzS1Bw"><img alt="" src="https://cdn2.cgbookcase.cloud/media/design/social_media/youtube2.svg"></a>
                </div>
                <div class="footer-link"><a href="/license-information">License Information</a></div>
            </div>
        </footer>

        <!-- message in console -->
        <script>
            console.log(`%c
               .':lxOKXWWMMMMMMWWNK0kdc;.               
            .cx0NMMMMMMMMMMMMMMMMMMMMMMWXOd:.           
         .ckXMMMMNK00XWMMMMMMMMMMWX00KNMMMMWXx:.        
       .oKWMMMMXd,. ..:OWMMMMMMWO:.. .,dXMMMMMWKo.      
     .oXMMMMMMNc       .OMMMMMMO.       cNMMMMMMMXo.    
    ;0WMMMMMMMX;       .xMMMMMMx.       ;XMMMMMMMMW0;   
  .lXMMMMMMMMMWO,     .oNMMMMMMNo.     ,OWMMMMMMMMMMXc  
 .oNMMMMMMMMMMMMNOoloxKWMMMMMMMMWKxoloONMMMMMMMMMMMMMNl 
 lNMMMMMWNNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNWMMMMMMMX:
;KMMMMXx:'.,ckNMMMMMMMMMMMMMMMMMMMMMMMMMMNkc,.':dXMMMMMk
xMMMMK:       lNMMMMMMMMMMMMMMMMMMMMMMMMNl       :KMMMMN
XMMMMk.       '0MMMMMMMMMMMMMMMMMMMMMMMM0'       .kMMMMM
WMMMMXc      .dWMMMMMMMMMMMMMMMMMMMMMMMMWd.      cXMMMMM
MMMMMMNOl:;:o0WMMMMMMMMMMMMMMMMMMMMMMMMMMW0o:;:lONMMMMMN
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMk
NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0'
0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWk' 
lWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW0c.  
.kMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWKx:.    
 ,0MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXKKKKKKKK0kdl;.       
  ,0WMMMMMMMMMMMMMMMMMMMMMMMMMMXo,.........             
   .kWMMMMMMMMMMMMMMMMMMMMMMMMK;                        
    .cKMMMMMMMMMMMMMMMMMMMMMMMO.                        
      .oXMMMMMMMMMMMMMMMMMMMMMNo.                       
        .l0WMMMMMMMMMMMMMMMMMMMWx.                      
          .;d0NMMMMMMMMMMMMMMMMMK,                      
             .,cdOXWMMMMMMMMMMMNo.                      
                 .'cdOKNWMMMMWKc.                       
		
Hello, curious person :D
Not much to find here except for a few error messages every now and then.`, "font-family:monospace")
        </script>
    </body>
</html>
