<!DOCTYPE html>
<html lang="en">
    <head>
        <title>cgbookcase.com | Free PBR Textures and Blender Tutorials</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="description here">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/textures.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">

        <%- include partials/head.ejs %>
    </head>
    
    
    <body>
        <%- include partials/header.ejs %>
        <main class=" w-1400 margin">
            <div class="">
                <h1>Privacy and Cookies</h1>
                <p>Last updated: May 1, 2019</p>
                
            </div>

            <div class="whiteBG border margin w-1400">

                <h2>YouTube Videos</h2>

                <p>All videos on cgbookcase.com are embedded YouTube videos.</p>
                <p>YouTube is owned by Google. This means that when you watch a video on cgbookcase.com, Google will know that you watched it and it will most likely influence which type of ads are played on other YouTube videos and the video suggestions you get. <a href="https://policies.google.com/technologies/partner-sites" target="_blank">Other Google services will also use this information.</a></p>

                <h2>Newsletter Sign Up</h2>
                <p>When you sign up for the email newsletter, only your first name and your email address is stored. Neither your IP address, your location nor anything else will be saved.</p>

                <h2>Google Analytics</h2>
                <p>cgbookcase.com uses Google Analytics. This is a tool that gives me (“Dorian Zgraggen”) information about where the visitors of this website come from, how long they stay on the site, what their interests are, which browser they use and more. </p>
                <p>Google can use this data for their own services, for instance for ad personalization <a href="https://policies.google.com/technologies/partner-sites" target="_blank">and more</a>.</p>

                <h2>Cookies</h2>
                <p>Apart from the cookies of the embedded YouTube videos and Google Analytics, cgbookcase.com itself doesn't use any cookies at all.</p>
            </div>
            
            
        </main>
        <%- include partials/footer.ejs %>
