<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blender Tutorials | cgbookcase.com</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Learn how to use Blender and other software like Verge3D to become a better 3D artist.">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/textures.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">
        <link rel="canonical" href="https://www.cgbookcase.com/tutorials">

        <link href="/styles/colors.css" rel="stylesheet">

        <%- include("../partials/head.ejs") %>
    </head>
    
    
    <body>
        <%- include("../partials/header.ejs") %>
        <main class=" w-1400 margin">
            <div class="">
                <h1>Learn</h1>
                
            </div>

            <article class="whiteBG border flex" style="margin-bottom: 24px;">
                <a href="/learn/immersion-vr-substance-designer-material-breakdowns" class="w50p"><img class="w100p h100p border-left" src="https://cdn2.cgbookcase.cloud/tutorials/posts/2019/breakdowns/thumbnail.jpg"></a>
                <div class="w50p margin">
                        <a href="/learn/immersion-vr-substance-designer-material-breakdowns" class="headerLink"><h2 class="margin-top-0">Immersion VR Substance Designer Material Breakdowns</h2></a>
                    <p>In this tutorial you'll get to see the process of creating an interactive interior scene created using Blender and Verge 3D.</p>
                    <a href="/learn/immersion-vr-substance-designer-material-breakdowns" class="text-center no-underline button-red">Read Now</a>
                </div>
                
            </article>

            <article class="whiteBG border flex">
                <a href="/tutorials/how-to-create-3d-interactive-web-experiences-in-blender-verge-3d" class="w50p"><img class="w100p h100p border-left" src="https://cdn2.cgbookcase.cloud/tutorials/posts/2018/v3d_interior/thumbnail.jpg"></a>
                <div class="w50p margin">
                        <a href="/tutorials/how-to-create-3d-interactive-web-experiences-in-blender-verge-3d" class="headerLink"><h2 class="margin-top-0">How To Create 3D Interactive Web Experiences in Blender & Verge3D</h2></a>
                    <p>In this tutorial you'll get to see the process of creating an interactive interior scene created using Blender and Verge 3D.</p>
                    <a href="/tutorials/how-to-create-3d-interactive-web-experiences-in-blender-verge-3d" class="text-center no-underline button-red">Watch Now</a>
                </div>
                
            </article>

            <div class="space"></div>

            <article class="whiteBG border flex">
                <a target="_blank" href="https://www.youtube.com/watch?v=60N1EggF4-o" class="w50p"><img class="w100p h100p border-left" src="https://cdn2.cgbookcase.cloud/tutorials/posts/2018/lettering/thumbnail.jpg"></a>
                <div class="w50p margin">
                        <a target="_blank" href="https://www.youtube.com/watch?v=60N1EggF4-o" class="headerLink"><h2 class="margin-top-0">How to Create 3D Lettering in Blender</h2></a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=60N1EggF4-o" class="text-center no-underline button-red">Watch Now</a>
                </div>
                
            </article>

            <div class="space"></div>

            <article class="whiteBG border flex">
                <a target="_blank" href="https://www.youtube.com/watch?v=EHDa34UZGYs" class="w50p"><img class="w100p h100p border-left" src="https://cdn2.cgbookcase.cloud/tutorials/posts/2018/wireframe/thumbnail.jpg"></a>
                <div class="w50p margin">
                        <a target="_blank" href="https://www.youtube.com/watch?v=EHDa34UZGYs" class="headerLink"><h2 class="margin-top-0">How to Create 3D Lettering in Blender</h2></a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=EHDa34UZGYs" class="text-center no-underline button-red">Watch Now</a>
                </div>
                
            </article>

            <div class="space"></div>

            <article class="whiteBG border flex">
                <a target="_blank" href="https://www.youtube.com/watch?v=-K15Qa2M67g" class="w50p"><img class="w100p h100p border-left" src="https://cdn2.cgbookcase.cloud/tutorials/posts/2018/random_color/thumbnail.jpg"></a>
                <div class="w50p margin">
                        <a target="_blank" href="https://www.youtube.com/watch?v=-K15Qa2M67g" class="headerLink"><h2 class="margin-top-0">How to Create 3D Lettering in Blender</h2></a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=-K15Qa2M67g" class="text-center no-underline button-red">Watch Now</a>
                </div>
                
            </article>

            <div class="space"></div>

            <article class="whiteBG border flex">
                <a target="_blank" href="https://www.youtube.com/watch?v=0c_oqn4i648" class="w50p"><img class="w100p h100p border-left" src="https://cdn2.cgbookcase.cloud/tutorials/posts/2018/empty/thumbnail.jpg"></a>
                <div class="w50p margin">
                        <a target="_blank" href="https://www.youtube.com/watch?v=0c_oqn4i648" class="headerLink"><h2 class="margin-top-0">How to Create 3D Lettering in Blender</h2></a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=0c_oqn4i648" class="text-center no-underline button-red">Watch Now</a>
                </div>
                
            </article>

            <div class="space"></div>

            <article class="whiteBG border flex">
                <a target="_blank" href="https://www.youtube.com/watch?v=w1SYY0dcCCw" class="w50p"><img class="w100p h100p border-left" src="https://cdn2.cgbookcase.cloud/tutorials/posts/2018/fingerprints/thumbnail.jpg"></a>
                <div class="w50p margin">
                        <a target="_blank" href="https://www.youtube.com/watch?v=w1SYY0dcCCw" class="headerLink"><h2 class="margin-top-0">How to Create 3D Lettering in Blender</h2></a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=w1SYY0dcCCw" class="text-center no-underline button-red">Watch Now</a>
                </div>
                
            </article>

            <div class="space"></div>

            
            
            
        </main>
        <%- include("../partials/footer.ejs") %>
