::selection {
    background: rgba(28, 162, 196, 0.65);
    /* WebKit/Blink Browsers */
    color: white;
}

::-moz-selection {
    background: rgba(28, 162, 196, 0.65);
    /* Gecko Browsers */
    color: white;
}

.red-col {
    color: #ec032b;
}

.red-bg {
    background-color: #F73859;
}

.button-red,
.red-button {
    background-color: #F73859;
    color: white !important;
    background-image: linear-gradient(#F73859, #F01D42);
    border-bottom: 1px solid #DA304D;
}

.button-disabled {
    background-color: lightgrey;
    color: white;
}

.white-col {
    color: white;
}

.white-bg,
.whiteBG {
    background-color: white;
}

.always-white-col {
    color: white;
}

body {
    background-color: #ECF0F1;
}

a {
    color: #ec032b;
}

p {
    color: #484848;
}

.grey-link, .gray-link, .gray, .grey {
    color: #484848;
}

.patreonButton {
    background-color: rgb(229, 72, 49);
}

/*
 * ─── NAVIGATION ─────────────────────────────────────────────────────────────────
 */

#header-buttonRight {
    color: black;
    background-color: #E5E5E5;
}

#header-redBar {
    background-color: #F73859;
    background: -moz-linear-gradient(top, hsl(350, 94%, 62%) 0%, hsl(350, 81%, 53%) 100%);
    background: -webkit-linear-gradient(top, hsl(350, 94%, 62%) 0%, hsl(350, 81%, 53%) 100%);
    background: linear-gradient(to bottom, hsl(350, 94%, 62%) 0%, hsl(350, 81%, 53%) 100%);
}

.mobile-headerLink a {
    color: black !important;
}

.headerLink {
    color: black;
}

/*
 * ─── TEXTURES ───────────────────────────────────────────────────────────────────
 */

select {
    border: 1px solid #C8C8C8;
}

#filters-resolution button {
    background-color: white;
    border-color: #C8C8C8;
}


#filters-resolution button.active {
    background-color: #ececec;
}

#search-button {
    color: white;
    background-color: #f73859;
}


.results-item {
    background-color: #00000022
}

.results-item-resolution {
    color: white;
    text-shadow: 2px 2px 4px #00000012;
    background: #00000029;
}

.results-item-name {
    color: white;
    text-shadow: 2px 2px 12px #0000004a;
}

#page-controls button {
    background-color: white;
}


#textures-supporters {
    color: white;
    background-color: #384259;
}

.view-directDownload {
    background-color: white;
    color: black;
}

.view-directDownload:hover {
    background-color: #e6e6e6;
}

#view-map {
    background-color: grey;
}

.view-mapZoom {
    background-color: white;
    color: black;
}

#view-mapNote {
    color: white;
    background: #0000004a;
}

.future-release-title {
    color: white;
}

/*
 * ─── TUTORIALS ──────────────────────────────────────────────────────────────────
 */

.tutorial-timeline button {
    background-color: white;
    border: 2px solid gainsboro;
}