<h2 class="margin-top-0">The new site</h2>
<p>The frequency of new textures being released has been really suffering from it, but finally, the new site is up!</p>

<p>From a user&rsquo;s perspective, there&rsquo;s not a ton of new things, but the new version makes it much easier for
    me to manage textures and other content, like tutorials and blog posts.</p>

<p>What I&rsquo;m most excited about on the user&rsquo;s side are the new filter options: Previously, you could only
    search for textures by their name, but now you can also search for them by keyword.</p>

<p>Here&rsquo;s an example:</p>

<p>If you&rsquo;ve searched for &lsquo;forest&rsquo; on the old site, only the textures that have the word forest in
    their actual title showed up. Now, other textures that could be used for creating a forest in 3D, like the tree
    stumps and the moss textures, will show up as well.</p>

<img src="https://cdn2.cgbookcase.cloud/blog/posts/new_site/forest_results2.jpg" class="tutorial-screenshot-fullWidth">

<p>Also, you can now filter the textures by color, and the site should be more useful to people using large displays
    because /textures takes up the entire width now and can therefore display more textures at a time. The filters
    should be more intuitive to use now since they aren&rsquo;t hidden behind a link anymore and you don&rsquo;t have to
    press the search button after every change.</p>

<p>Now there are also instructions on <a href="/textures/how-to-use-pbr-textures-in-blender">how to use the various
        types of textures in Blender</a>, with other software, like Unreal Engine and Godot, coming soon, too.</p>

<p>The patrons&rsquo; names now appear on the textures page as well, which I think makes sense, since the textures are
    usually why they became a patron.</p>

<p>Blender tutorials will be now indexed on /tutorials and will always come with a clickable table of contents and a
    text summary. (This is where the tutorials for the texture creation series will be added.)</p>

<p>The last thing that&rsquo;s new is a (in my opinion) much cleaner and more consistent look:</p>

<img src="https://cdn2.cgbookcase.cloud/blog/posts/new_site/consistent_look3.jpg" class="tutorial-screenshot-fullWidth">

<h2 class="margin-top-0">Roadmap for the texture creation tutorial series</h2>

<p> The texture creation tutorial series is highly, highly overdue. We reached the Patreon goal 10(!) months ago, and
    I&rsquo;m really sorry that I haven&rsquo;t released it yet.</p>

<p>Anyway, here&rsquo;s the roadmap:</p>

<p>At the end of this month (May 2019) I want to release the first video called &lsquo;PBR Maps explained&rsquo;. As the
    title of it says, you will get to know the different types of PBR maps and workflows.</p>

<p>The second video, which I plan to publish in July, is on creating PBR textures from start to finish. It will cover
    taking good photos, doing image corrections (defringe, etc.), stitching them together, making them seamless and then
    creating the maps.</p>

<p>The third video will show a different approach to creating PBR textures: Photogrammetry. I&rsquo;d like to publish
    this one in July.</p>

<p>The fourth video, released in August hopefully, will be on shooting leaf textures in a quick DIY photo-studio. Since
    this video will be probably very short, it will also cover how to use your own leaf textures in Blender.</p>

<p>If you have any feedback or ideas for improvements of the site, feel free to <a
        href="https://twitter.com/dorianzgraggen" taget="_blank">tweet</a> or <a
        href="mailto:dorian@cgbookcase.com">email</a> me. </p>