<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PBR Texture Creation Tutorial Series | cgbookcase.com</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Learn how to create your own PBR textures in this free tutorial video series.">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/textures.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">

        <%- include("../partials/head.ejs") %>
    </head>
    
    
    <body>
        <%- include("../partials/header.ejs") %>
        <main class=" w-700 margin">
            <div class="">
                <h1>Texture Request Form</h1>
                <p>Here you can request textures. Please use one form per texture.</p>
                
            </div>


            <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrRXeZRCktFvl5YH?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="1111" style="background: transparent; border: 1px solid #ccc;"></iframe>            
            
        </main>
        <%- include("../partials/footer.ejs") %>
