<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PBR Texture Creation Tutorial Series | cgbookcase.com</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Learn how to create your own PBR textures in this free tutorial video series.">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/textures.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">

        <%- include("../partials/head.ejs") %>
    </head>
    
    
    <body>
        <%- include("../partials/header.ejs") %>
        <main class=" w-1400 margin">
            <div class="">
                <h1>PBR Texture Creation Tutorial Series</h1>
                <p>Learn how to create your own PBR textures for free. <a href="/blog/new-site-and-roadmap-for-texture-creation-course">Check out the roadmap for more details.</a></p>
                
            </div>


            <article class="whiteBG border flex">
                <a class="w50p"><img class="w100p h100p border-left" src="/media/brand/thumb/coming_soon.png"></a>
                <div class="w50p margin">
                    <h2 class="margin-top-0">Different PBR Map Types Explained</h2>
                    <p>After a brief introduction to how surfaces and shaders work, you're gonna find out what the most common types of PBR textures do.</p>
                    <a class="text-center no-underline button-disabled">Coming Soon</a>
                </div>
                
            </article>

            <div class="space"></div>

            <article class="whiteBG border flex">
                <a class="w50p"><img class="w100p h100p border-left" src="/media/brand/thumb/coming_soon.png"></a>
                <div class="w50p margin">
                    <h2 class="margin-top-0">Creating PBR Textures From Start to Finish</h2>
                    <p>Get to know the entire process of creating good textures: Shooting a surface, stiching the resulting images together and then creating tileabe PBR maps.</p>
                    <div href="lol" class="text-center no-underline button-disabled">Coming Soon</div>
                </div>
                
            </article>

            <div class="space"></div>

            <article class="whiteBG border flex">
                <a class="w50p"><img class="w100p h100p border-left" src="/media/brand/thumb/coming_soon.png"></a>
                <div class="w50p margin">
                    <h2 class="margin-top-0">Creating PBR Textures With Photogrammetry Software</h2>
                    <p>Find out how to 3D scan a material and create a PBR texture out of it.edit them using Meshroom and Substance Painter.</p>
                    <div href="lol" class="text-center no-underline button-disabled">Coming Soon</div>
                </div>
                
            </article>

            <div class="space"></div>

            <article class="whiteBG border flex">
                <a class="w50p"><img class="w100p h100p border-left" src="/media/brand/thumb/coming_soon.png"></a>
                <div class="w50p margin">
                    <h2 class="margin-top-0">Shooting PBR Leaf Textures</h2>
                    <p>Learn how to set up your own little photo studio to shoot leaf double-sided textures and then edit them to get various PBR maps.</p>
                    <div href="lol" class="text-center no-underline button-disabled">Coming Soon</div>
                </div>
                
            </article>
            
            
        </main>
        <%- include("../partials/footer.ejs") %>
