<!DOCTYPE html>
<html lang="en">
    <head>
        <title>cgbookcase.com | Free PBR Textures and Blender Tutorials</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="description here">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/home.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">
        <link href="/styles/colors.css" rel="stylesheet">
    </head>
    
    
    <body>
        <%- include("../partials/header.ejs") %>
        <main>


            <section class="margin w-1400 margin-topBottom text-center">
                <div class="whiteBG">
                        <div style="font-weight: 600; font-size: 160px;">404</div>
                        <p>The page you're looking for doesn't exist.</p>
                        <img style="width: 100%" src="/memes/disappointment.jpg">
                        <div class="space"></div>
                        <a href="/" class="text-center no-underline button-red button-center">Go back home</a>
                        <div class="space"></div>
                </div>
            </section>

        </main>
        <%- include("../partials/footer.ejs") %>
