<!DOCTYPE html>
<html lang="en">
    <head>
        <title>cgbookcase.com | Free PBR Textures and Blender Tutorials</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="description here">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/textures.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">

        <%- include("../partials/head.ejs") %>
    </head>
    
    
    <body>
        <%- include("../partials/header.ejs") %>
        <main class=" w-1400 margin">
            <div class="">
                <h1>License Information</h1>
                <p>Last updated: May 1, 2019</p>
                
            </div>

            <div class="whiteBG border margin w-1400">

                <h2>Textures</h2>

                <p>All textures on cgbookcase.com are licensed as CC0. <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Learn more about the CC0 License</a></p>
                
                <p>In short, this means you can use the textures for anything, even without giving credit.</p><p>If you created something using the textures on cgbookcase.com, feel free to use the hashtag #cgbtextures when posting it to Instagram, Twitter, Artstation or so, so I can see it. :)</p>

                <p>Keep in mind that while the texture maps are licensed as CC0, the preview renders of them and the content from the tutorials on how to use the textures are not.</p>
                <p>If you enjoy using the textures, please consider supporting cgbookcase.com <a href="https://www.patreon.com/cgbookcase" target="_blank">on Patreon</a></p>
               
                <h2>Tutorials</h2>
                <p>The tutorials are <em>not</em> licensed as CC0.</p>
            </div>
            
            
        </main>
        <%- include("../partials/footer.ejs") %>
